<h1>{{certification.title}}</h1>
{{{certification.body.value}}}

<h2>Prerequisites</h2>
{{{certification.field_prerequisites.value}}}

{{#if certification.field_education_requirements.value}}
    <h3>Educational Requirements</h3>
    {{{certification.field_education_requirements.value}}}
{{/if}}

{{#if certification.field_work_requirements.value}}
    <h3>Relevant Experience</h3>
    {{{certification.field_work_requirements.value}}}
{{/if}}

<h2>Application</h2>
All applications require a non-refundable {{certification.field_application_fee}} application fee

{{#if showExamSection}}

    <h2>Examination</h2>
    {{{certification.field_exam.value}}}

    <h3>Books</h3>
    {{#if certification.field_open_book}}
        <FaIcon 
            @icon="book"
            @size="2x"
            @fixedWidth={{true}}
        ></FaIcon>
        Books are permitted during the exam.
    {{else}}
        <FaIcon 
            @icon="book"
            @size="2x"
            @fixedWidth={{true}}
        ></FaIcon>
        Books are not permitted during the exam.
    {{/if}}

    <h3>Notes</h3>
    {{#if certification.field_open_notes}}
        <FaIcon 
            @icon="sticky-note"
            @size="2x"
            @fixedWidth={{true}}
        ></FaIcon>
        Notes are permitted during the exam.
    {{else}}
        <FaIcon 
            @icon="sticky-note"
            @size="2x"
            @fixedWidth={{true}}
        ></FaIcon>
        Notes are not permitted during the exam.
    {{/if}}

    <h3>Writing Materials</h3>
    {{#if certification.field_open_materials}}
        <FaIcon 
            @icon="pen"
            @size="2x"
            @fixedWidth={{true}}
        ></FaIcon>
        Notes are permitted during the exam.
    {{else}}
        <FaIcon 
            @icon="pen"
            @size="2x"
            @fixedWidth={{true}}
        ></FaIcon>
        Notes are not permitted during the exam.
    {{/if}}

{{/if}}

{{#if cartification.field_recertification.value}}
    <h2>Recertification</h2>
    {{{certification.field_recertification.value}}}
{{/if}}

{{liquid-outlet}}