{{#each in model.certifications as |cert|}}

    {{#link-to "certifications.certification" cert.name}}
        {{cert.name}}
    {{/link-to}}

{{/each}}
<section>
    <ol class="certification_benefits">
        <li>
            <FaIcon 
                @icon="rocket"
                @fixedWidth={{true}}
            ></FaIcon>
            Boost your career
        </li>
        <li>
            Validate your achievement,
            <FaIcon
                @icon="award"
                @fixedWidth={{true}}
            ></FaIcon>
        </li> 
        <li>
            <FaIcon
                @icon="hard-hat"
                @fixedWidth={{true}}
            ></FaIcon>
            Recognize your commitment to public safety,
        </li>
        <li>
            Share your commitment to the environment,
            <FaIcon
                @icon="seedling"
                @fixedWidth={{true}}
            ></FaIcon>
        </li>
        <li>
            And your passion to protect The Earth.
        </li>
        <li>
            <FaIcon
                @icon="globe"
                @size="2x"
                @fixedWidth={{true}}
            ></FaIcon>
        </li>
    </ol>
    <p>
        The Institute of Hazardous Materials Management (IHMM) offers the hazmat industry&rsquo;s premier accredited
        professional credentials&mdash;the Certified Hazardous Materials Manager (CHMM<sup>&reg;</sup>), 
        the Certified Hazardous Materials Practitioner (CHMP<sup>&reg;</sup>), the Certified Dangerous Goods 
        Professional (CDGP&reg;), and the Certified Dangerous Goods Trainer (CDGT&reg;)&mdash;credentials that 
        recognize your expertise and open up new possibilities for you to make a significant impact on public health 
        and safety, the environment, your community, and your country.
    </p>
    <p>
        IHMM credentialing programs and examinations are each based on an Exam Specifications &quot;blueprint&quot;
        that is the outcome of a Job Task Analysis. The blueprints govern the competency requirements for each
        credential and provide the outline of topics for the examinations. Examination questions are developed
        from the blueprints and applicants base their examination study on the blueprint. Click the credential
        acronym to review its associated Exam Specifications blueprint: 
        <a href="/sites/default/files/docs/CHMM%20Blueprint.pdf" target="_blank">CHMM</a>,
        <a href="/sites/default/files/docs/CDGP%20Blueprint.pdf" target="_blank">CDGP</a>,
        <a href="/sites/default/files/docs/CHMP%20Blueprint.pdf" target="_blank">CHMP</a>.
    </p>
    <p><strong>Understanding the certification process is the first step in achieving your credential.</strong></p>
    <p>
        <img alt="" src="/sites/default/files/applicant_small.jpg" style="
            width: 600px;
            margin: 10px;
            float: left;
            height: 294px;
        "/>
        IHMM has developed&nbsp;a&nbsp;<a href="https://www.ihmm.org/sites/default/files/docs/IHMM%20Candidate%20Handbook.pdf">Candidate Handbook </a>to describe all aspects of the certification process and assist candidates in preparing for the examinations.
        &nbsp; This Handbook contains; an overview of eligibility criteria, application and exam procedures, 
        authorization to test, special testing accommodations, general examination information, preparing for 
        the exam, examination appointment cancellation or rescheduling, exam security and other information.&nbsp;
        Please refer to the Candidate Handbook for more information.
    </p>
    <p>
        On the upper right-hand corner of the website click on &ldquo;MYIHMM LOGIN&rdquo; to create an account 
        and apply for your desired certification(s).&nbsp; If you need assistance in applying for a certification 
        or have questions on the application process, please contact the Certification Department at&nbsp;
        <a href="mailto:examinfo@ihmm.org" target="_blank">examinfo@ihmm.org</a>&nbsp;or call&nbsp;301-984-8969 
        extension 4864.
    </p>
    <p>
        Candidates must meet all eligibility requirements before scheduling and taking their 
        exam.&nbsp; These include: (1) application; &nbsp;(2) transcript (upload a copy of your 
        transcript/diploma if applicable to the application) (3) two &nbsp;references (4) fee.&nbsp; 
        Then pass exam to be issued certificate.&nbsp;&nbsp;&nbsp;
    </p>
    <p><u>Apply for a credential online with supporting documentation</u>. Complete and submit your application online. Within the application you will be required to provide contact information for two reference and upload a copy of your transcript/diploma (if applicable). Upon submitting the application and application fee, you will receive an approval email that includes instructions for registering through our testing interface and also states IHMM policy concerning rescheduling or canceling an exam date.</p><p><u>Register to take the examination.</u> After receiving the approval email, you may register for the examination online and pay the examination fee as well. You may register anytime during your 12 months of eligibility. Upon completing the registration, an email of verification will be sent. All registrations are initially done through our testing interface after being found eligible to take the examination. Contact the <a href="mailto:examinfo@ihmm.org?subject=Application question">Applications and Examinations Coordinator</a> at the IHMM office with any concerns. or if there is a need to cancel an examination.&nbsp;Test takers can reschedule themselves as long as they do so at least 72 hours before their schedule exam.&nbsp;If a test taker reschedules less than 72 hours from their appointment, there will be a $100 rescheduling fee.</p><p>Complete the examination. All examinations are managed through the proctored <a href="http://www.kryteriononline.com/Locate-Test-Center" target="_blank">Kryterion HOST</a>&nbsp;network at hundreds of computer-testing locations world-wide. Most testing centers will likely be closed for holidays and each testing center maintains has its own hours of operation and seating availability. Preliminary test results will be delivered immediately on your computer screen upon completion of the examination. Official (hard-copy) results will be sent via e-mail within approximately three (3) weeks after your examination.</p><p><u>Pay an annual maintenance fee</u>. After an individual is certified, an invoice will be generated and sent to the certificant to pay the annual fee. <strong>Please note that certification is not awarded and your certificate will not be sent to you until this fee is paid.</strong> Thereafter, a credential holder is to pay their annual maintenance fee by one&rsquo;s anniversary date every year to remain in good standing. A lapse of annual fees by over one year will result in decertification.</p><p><u>Maintaining your credential.</u> IHMM requires recertification every five (5) years to ensure that certificants maintain currency with the advancements in technology and changes in compliance requirements that occur frequently in hazardous materials management and related fields. Failure to recertify within 6 months past your recertificatin will result in decertification.</p><p><strong>What are the benefits of being certified?</strong></p><ul><li>Recognition from peers, public, and employer.</li><li>Satisfaction of achievement.</li><li><a href="/applicants/benefits-ihmm-credentials">Career development, growth, and advancement.</a></li><li>Confidence in doing your job.</li><li>Assurance on quality of work.</li><li>Reduced liability.</li><li>Belonging to a select community.</li><li>Recognition of commitment to public safety and the environment.</li><li>Identification as distinguished individuals.</li></ul><p>If you deal with hazardous or potentially hazardous materials in any capacity, you should be certified! Corporations, universities and government agencies depend on these credentials to identify professionals like you.</p>
</section>
{{liquid-outlet}}