<section>
Institute of Hazardous Materials Management (IHMM) | www.ihmm.org © 2018 | All Rights Reserved.
</section>
<section>
9210 Corporate Blvd | Suite 470 | Rockville, Maryland | 20850 | Phone: 301-984-8969 | Fax: 301-984-1516 | E-mail: info@ihmm.org
</section>
<section>
Certified Hazardous Materials Manager, Certified Hazardous Materials Practitioner®, Certified Dangerous Goods Professional®, Certified Dangerous Goods Trainer®, Institute of Hazardous Materials Management®, IHMM®, CHMM®, CHMP®, CDGP®, and CDGT® are registered trademarks of the Institute of Hazardous Materials Management.
</section>