<header>
    There is only one Earth;<br>
    <em>our passion is to protect it.</em>
    <a
        class="piccite"
        href="https://global.jaxa.jp/press/2009/02/20090218_kaguya_e.html">

        Photo Credit: JAXA {{fa-icon "chevron-right"}}

    </a>
</header>


<!--
<section class="block">
    <header>Applicants</header>
    <p>Gain the same personal satisfaction and differentiation from other non-certified professionals that over 16,000 homeland security, environmental protection, engineering, health sciences, transportation, and public safety, professionals enjoy by earning one of IHMM's accredited certifications.</p>
</section>

<section class="block">
    <header>Certificants</header>
    <p>Corporations, universities, and government agencies depend on IHMM accredited certifications to identify distinguished individuals. Maintain your certification to boost your career, validate your achievement, and provide public recognition of your commitment to public safety and the environment</p>
</section>

<section class="block">
    <header>About IHMM</header>
    <p>For over 35 years IHMM has been protecting the environment and the public's health, safety, and security through the administration of credentials recognizing professionals who have demonstrated a high level of knowledge, expertise, and excellence in the management of hazardous materials.</p>
</section>
-->