<nav class="global">
    <!-- TODO: Replace image with SVG 
        <img class="ihmm-logo" src="/images/logo.png">
    -->

    <!-- SVG version of logo -->
    {{#link-to "index"}}
    <svg
        class="ihmm-logo"
        viewBox="0 0 450 220"
        version="1.1" 
        xmlns="http://www.w3.org/2000/svg"
    >
        <polygon
            points="
                0 100,
                30 70,
                30 150,

                100 150,
                100 130,
                130 100,
                130 150,

                200 150,
                200 100,
                230 130,
                260 100,
                260 150,

                330 150,
                330 100,
                360 130,
                390 100,
                390 150,

                420 150,
                420 30,
                390 30,
                360 60,
                330 30,
                300 30,
                300 55,
                325 30,
                340 30,
                300 70,
                300 150,

                290 150,
                290 30,
                260 30,
                230 60,
                200 30,
                170 30,
                170 55,
                195 30,
                210 30,
                170 70,
                170 150,

                160 150,
                160 30,
                130 30
                130 60,
                100 90,
                100 30,
                70 30,
                70 150,

                60 150,
                60 40,
                100 0,
                450 0,
                450 220,
                0 220
            "
            stroke="none"
            fill="#c44529"
        />
        <!--
            fill="#ef4723"
        -->
        <polygon
            points="
                30 55,
                30 30,
                55 30
            "
            stroke="none"
            fill="#000"
        />
    </svg>

    {{/link-to}}
    {{#link-to "certifications"}}
        Certifications
    {{/link-to}}
    {{#link-to "work.index"}}
        Our Work
    {{/link-to}}
    <a href="http://multibriefs.com/briefs/IHMM/">IHMM Today</a>
    <a class="myIHMM-Logind" href="http://online.ihmm.org/ihmmssa/ssaauthmain.login_page">
        MyIHMM Login
        {{fa-icon "user-circle"}}
    </a>
</nav>