<aside>
    <header>
        {{#link-to "certifications.index" class="category"}}
            Certifications
        {{/link-to}}
    </header>

    {{#link-to "certifications.benefits"}}
        Benefits
    {{/link-to}}

    {{#link-to "certifications.certification" "56ca55d0-b150-4d25-b6fa-adc58a6af446"}}
        CHMM
    {{/link-to}}
    {{#link-to "certifications.certification" "3f9cffcd-954f-4741-9ac3-417d3678ef55"}}
        CDGP
    {{/link-to}}
    {{#link-to "certifications.certification" "31d1a787-5ecf-4dd6-b8ef-882d987f3c8a"}}
        CHMP
    {{/link-to}}
    {{#link-to "certifications.certification" "3982cc8a-2ff1-420d-b508-13511216ca46"}}
        CSMP
    {{/link-to}}
    {{#link-to "certifications.certification" "4fe56f20-4cd1-4301-9f0b-394a71cf5b95"}}
        CSHM
    {{/link-to}}
    {{#link-to "certifications.certification" "86cf6291-0186-4d22-abcb-23b08f00ecce"}}
        CDGT
    {{/link-to}}
</aside>

<aside>
    <header>
        {{#link-to "work.index"}}
            Our Work 
        {{/link-to}}
    </header>

    {{#link-to "work.credentials"}}
        Our Credentials
    {{/link-to}}

    {{#link-to "work.accreditation"}}
        Accreditation
    {{/link-to}}

    {{#link-to "committees"}}
        Committees
    {{/link-to}}

    {{#link-to "work.ethics"}}
        Ethics
    {{/link-to}}

</aside>