<header>
    Upcoming Events
</header>

<ol>
    {{#each events as |ev|}}
        <li class="event">
            <header>
                {{#link-to "calendar.event" ev.id}}
                    {{ev.name}}
                {{/link-to}}
            </header>
            <!--<span class="location">
                {{ev.location}}
            </span>-->

            <span class="date">
                {{ev.date}}
            </span>
            <!--
            <span class="producer">
                Produced by: {{ev.producer}}
            </span>-->
        </li>
    {{/each}}
</ol>

{{#link-to "calendar.share" class="link"}}
    Share an Event {{fa-icon "chevron-right"}}
{{/link-to}}

{{#link-to "calendar.index" class="link"}}
    More Events {{fa-icon "chevron-right"}}
{{/link-to}}

{{yield}}