<header>
    In The News
</header>

<ol>
    {{#each articles as |article|}}
        <li class="story">
            <header>
                {{article.title}}
            </header>

            <span class="content">
                {{{article.content}}}
            </span>
        </li>
    {{/each}}
</ol>

{{#link-to "news" class="link"}}
    More News {{fa-icon "chevron-right"}}
{{/link-to}}

{{yield}}