html, body {
    font-size: 15px;
    margin: 0;
    padding: 0;
    font-family: "Didact Gothic";
    background-color: #fafafa;
    color: #555;
}

body > .ember-view {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #555
}

a:hover {
    color: #888;
}

header, h1 {
    padding: 2rem calc(50% - 550px);
    flex: 0 0 auto;
    font-family: "Oswald";
}

header,
h1,
.button,
nav.global a {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
}

nav a {
}

.nav {
    display: flex;
    flex-direction: row;
}

nav {
}

nav.global {
    padding: 20px calc(50% - 550px);
    display: flex;
    align-items: center;
    box-shadow: 0 -7px 5px 5px;
}
.menu {
    background-color: 
}

nav.global a {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 2px;
    padding: 10px 20px;
    color: #555;
    flex: 0 1 auto;
    transition: color 0.25s, opacity 0.25s;
}

nav.global a.myIHMM-Login {
    color: #efefef;
}

a.active {
    color: #999 !important;
}

nav.global a:first-child {
    padding: 0;
    flex: .5 20%;
    max-width: 140px;
    margin-right: 20px;
}

nav a:hover {
    color: #888 !important;
    transition: color 0.25s;
    transition: color 0.25s, opacity 0.25s;
}

nav.global a:first-child:hover {
    background-color: initial;
}

nav.local {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    padding-right: 20px;
}

nav.local a {
    padding: 5px 0;
    font-weight: 900;
    font-size: 1.0rem;
    color: #555;
    transition: color 0.25s;
    transition: color 0.25s, opacity 0.25s;
}


svg.ihmm-logo {
    display: block;
}

.hero {
    padding: 350px calc(50% - 560px) 20px;
    background: #000 url("/images/halftoned_kaguya.svg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.hero header {
    transition: background-color 0.1s;
    padding: 10px;
    font-size: 2.8rem;
    flex: 1 0 100%;
    color: #d5dad9;
    font-weight: 800;
}

.hero header em {
    color: #ef4723;
    font-size: 3.4rem;
}

.hero section {
    padding: 20px;
    padding-top: 80px;
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 20px 10px;
}

.hero section header {
    font-family: "Oswald";
    font-size: 2.0rem;
    display: block;
    text-align: center;
}
main {
    flex: 1 0 auto;
}

main section,
fieldset {
    padding: 40px calc(50% - 550px);
    font-size: 1.5rem;
    flex: 1 0 auto;
}
.cards {
    display: flex;
    flex-direction: row;
    padding: 20px calc(50% - 560px);
    background-color: #e4e4e4;
}

.card {
    flex: 1 1 50%;
    padding: 10px;

}

.card > header {
    font-size: 2.0rem;
    padding-bottom: 10px;
    color: #363636;
    border-bottom: 1px solid #363636;
}

.card li header {
    font-size: 1.3rem;
}

ol {
    padding: 0;
}

.event,
.story {
    font-size: 1rem;
    list-style-type: none;
}

.event header,
.story header {
    padding: 10px 0 0 0;
}

.event span {
    display: block;
}

.event .location {
    font-weight: 900;
    text-align: right;
}

footer {
    color: #fff;
    padding: 20px calc(50% - 560px);
    display: flex;
    flex-direction: row;
}

footer.nav {
    background-color: #043965;
}

footer.nav aside {
    flex: 0 1 25%;
    margin: 0 10px;
}

footer.nav aside header {
    font-size: 1.8rem;
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}
footer.nav aside a {
    color: #d5dad9 !important;
    display: block;
}
footer.nav aside > a {
    padding-top: 8px;
    font-weight: 900;
}

footer.nav aside a:hover {
    opacity: 0.7;
    transition: color 0.25s, opacity 0.25s;
}
footer.nav aside .active {
    opacity: 0.5;
    transition: color 0.25s, opacity 0.25s;
}
footer.copy {
    background-color: #043157;
    flex-direction: column;
}

footer section {
    font-size: .9rem;
    padding: 10px;
    padding-top: 0;
    text-align: center;
    color: #889;
}

.link {
    font-weight: 900;
    font-size: 1.3rem;
    color: rgb(48, 120, 202);
    color: rgb(75, 115, 161);
    display: block;
    line-height: 180%;
}

.link:hover {
    color: #888;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.button {
    padding: 5px 15px;
    font-family: "Oswald";
    background-color: #167bd0;
    box-shadow: inset 0 -10px 20px -10px rgba(0, 0, 0, 0.2);
    color: #fff;
    border: 1px solid rgba(256,256,256,0.5);
    border-radius: 2px;
}

fieldset {
    display: flex;
    border: none;
    margin: 0;
    align-items: baseline;
    padding: 10px calc(50% - 550px);
}

fieldset label {
    flex: 0 0 40%;
    
}

fieldset input {
    flex: 0 0 50%;
    padding: 5px 15px;
    border-radius: 2px;
    border: 1px solid #555;
    font-size: 1.5rem;
    font-family: "Didact Gothic";
}

section.secondary-hero {
    background-color: #e4e4e4;
}

table, td {
    border: none;
}

.hero header {
    position: relative;
}
.piccite {
    font-family: "Didact Gothic";
    font-size: 1.2rem;
    position: absolute;
    right: 20px;
    bottom: -20px;
    text-transform: none;
    padding: 0 25px;
    background-color: #fafafa;
}

.certification_benefits {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 5px;
    grid-row-gap: 15px;
}
.certification_benefits li {
    padding: 20px 0px;
    list-style-type: none;
    font-size: 2rem;
    padding: 0px;
    border-radius: 2px;
    height: 80px;
    text-align: center;
}
.certification_benefits li:hover {
}

.liquid-container,
.liquid-child {
    overflow: visible;
}

.nav section {
    padding: 0;
    flex: 1 0 auto;
}

.granite {
    background-color: #363636;
    color: #888;
    transition: background-color 0.25s, color 0.25s;
}

.media-kit {
    background-color: #231037;
    color: #999;
    transition: background-color 0.25s, color 0.25s;
}

.myIHMM-Login {
    background-color: #ef4723;
    background-color: #c44529;
}

.position {
    border: 1px solid #333;
    padding: 35px;
    margin-bottom: 15px;
    box-shadow: 0 5px 5px -5px rgba(0,0,0,0.5);

}