product
{{product.label}}
{{product.decription}}
{{liquid-outlet}}
{{#each products as |product|}}
<div class="position">
    <h4>
        {{product.title}}
    </h4>
    {{{product.body.value}}}

    {{#each product.variations as |variation|}}
        {{#link-to "store.product.variation" product.commerce_product_type variation}}
            {{{variation.title}}}
        {{/link-to}}<br>
    {{/each}}
    {{#link-to "media.ads.reserve"}}
        Reserve
    {{/link-to}}
</div>
{{/each}}