<!DOCTYPE html>
<html>
  <head>

    <!-- Initiate the font dl as the very first thing we do -->
    <link href="https://fonts.googleapis.com/css?family=Oswald|Didact+Gothic|Muli&display=swap" rel="stylesheet">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/vendor.css">
    <link integrity="" rel="stylesheet" href="{{rootURL}}assets/global.css">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Institute of Hazardous Materials Management</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}


    {{content-for "head-footer"}}

  </head>
  <body>

    {{content-for "body"}}

    <script src="{{rootURL}}assets/vendor.js"></script>
    <script src="{{rootURL}}assets/ihmm.js"></script>

    {{content-for "body-footer"}}

  </body>
</html>
