{{outlet}}
<p>
    For over thirty-five years the Institute of Hazardous Materials Management (IHMM), a not-for-profit organization founded in 1984, 
    has been protecting the environment and the public&rsquo;s health, safety, and security through the administration of credentials 
    recognizing professionals who have demonstrated a high level of knowledge, expertise, and excellence in the management of hazardous 
    materials.
</p>
<p>

    Over 16,000 homeland security, environmental protection, engineering, health sciences, transportation, and public safety professionals
    have earned IHMM&rsquo;s accredited
    <strong>Certified Hazardous Materials Manager</strong> (CHMM<span style="font-size: 13px;">&reg;</span>) credential. IHMM also administers the 
    <strong>Certified Hazardous Materials Practitioner</strong> (CHMP<span style="font-size: 13px;">&reg;</span>), the 
    <strong>Certified Dangerous Goods Professional</strong> (CDGP<span style="font-size: 13.008px;">&reg;</span>), and the
    <strong> Certified Dangerous Goods Trainer</strong> (CDGT<span style="font-size: 13.008px;">&reg;</span>) credentials.
    
</p>
<p>

    <h1>IHMM&#39;s COMMITMENT TO IMPARTIALITY</h1>
    The Institute of Hazardous Materials Management (IHMM) is committed to impartiality and objectivity in every aspect of our operation
    and understands the importance in carrying out all of its certification activities. &nbsp;We have intentionally structured ourselves
    to segregate responsibilities in our organization to facilitate this impartiality and objectivity.&nbsp; IHMM&#39;s processes and procedures 
    are governed by its Bylaws, Management Systems Manual and Code of Ethics. &nbsp;IHMM understands threat to impartiality that include, but are
    not limited to, self-interest, activities from related bodies, and relationships of personnel, financial interests, conflict of interest, 
    familiarity, and intimidation. &nbsp;IHMM adheres to principles of impartiality in all its dealings.&nbsp; All applications, candidates 
    and certified persons are subject to the same consistent criteria, all policies and procedures are consistently followed and compliance 
    with procedures is audited annually.&nbsp; Impartiality is a consideration across all aspects of IHMM&rsquo;s certification program and 
    its personnel. We welcome any suggestion on how we can improve our implementation of certification activities.

</p>
<table align="center" border="5" cellpadding="1" cellspacing="1" style="width:500px;">
    <tbody>
        <tr>
            <td style="text-align: center;"><a href="/sites/default/files/IHMM-Bylaws-26-August-2017.pdf" target="_blank">Bylaws</a></td>
        </tr>
        <tr>
            <td style="text-align: center;"><a href="https://www.ihmm.org/about-ihmm/ihmm-board-directors" target="_blank">Board of Directors</a></td>
            <td style="text-align: center;"><a href="https://www.ihmm.org/ihmm-staff-ready-serve-you" target="_blank">Staff</a></td>
        </tr>
        <tr>
            <td style="text-align: center;"><a href="https://www.ihmm.org/ihmm-committees" target="_blank">Committees</a></td>
            <td style="text-align: center;"><a href="https://www.ihmm.org/about-ihmm/ihmm-accredited-ansi-and-cesb" target="_blank">Accreditation</a></td>
        </tr>
        <tr>
            <td style="text-align: center;"><a href="/applicants/eligibility-requirements-chmm" target="_blank">CHMM Credential</a></td>
            <td style="text-align: center;"><a href="/applicants/eligibility-requirements-chmp" target="_blank">CHMP Credential</a></td>
        </tr>
        <tr>
            <td style="text-align: center;"><a href="/applicants/eligibility-requirements-cdgp" target="_blank">CDGP Credential</a></td>
            <td style="text-align: center;"><a href="https://www.ihmm.org/applicants/eligibility-requirements-cdgt" target="_blank">CDGT Credential</a></td>
        </tr>
    </tbody>
    
</table>