<header>
    {{model.name}}
</header>
<!--<span class="location">
    {{ev.location}}
</span>-->

<span class="date">
    {{model.date}}
</span>
<!--
<span class="producer">
    Produced by: {{ev.producer}}
</span>-->