{{event.title}}
<fieldset>
    <label>
        What is the name of the event?
    </label>
    {{input value=event.title}}
</fieldset>
<fieldset>

    <label>
        What kind of event is it?
    </label>
    {{input value=event.type}}

</fieldset>
<fieldset>
    <label>
        Where will the event be held?
    </label>
    {{input}}

</fieldset>
<fieldset>
    <label>
        When will the event take place?
    </label>
    {{ember-flatpickr
        date=(readonly defaultDate)
        onChange=(action (mut dateValues))
    }}
</fieldset>

<section class="buttons">
    {{#link-to "index" class="button"}}
        Share {{fa-icon "share"}}
    {{/link-to}}
</section>
{{outlet}}