<h1>
    IHMM Committees
</h1>
<ul class="committee_list">
    {{#each committees as |committee|}}
        <li>
            {{#link-to "committees.committee" committee}}
                {{committee.title}} {{fa-icon "chevron-right"}}
            {{/link-to}}
        </li>
    {{/each}}
</ul>