{{app-nav}}

<main>
    {{liquid-outlet}}
</main>

    <div class="cards">
        {{event-calendar events=events}}
        {{in-the-news articles=articles}}
    </div>

{{app-footer}}
{{app-footer-copy}}