<section class="secondary-hero">
    {{fa-icon "home"}} {{fa-icon "chevron-right"}} Calendar
</section>

<section class="nav">

    <nav class="local">
        {{#each model as |ev|}}
            {{#link-to "calendar.event" ev.id}}
                {{ev.name}}
            {{/link-to}}
        {{/each}}

        {{#link-to "calendar.share"}}
            Share an Event
        {{/link-to}}
    </nav>

    <section>
        {{liquid-outlet}}

    </section>

</section>
