<section class="secondary-hero">
    {{fa-icon "home"}} {{fa-icon "chevron-right"}} Certifications
</section>

<section class="nav">

    <nav class="local">
        {{#link-to "certifications.index"}}
            Our Certifications
        {{/link-to}}
        {{#link-to "certifications.benefits"}}
            Benefits
        {{/link-to}}
        {{#each certifications as |cert|}}
            {{#link-to "certifications.certification" cert.id}}
                {{cert.title}}
            {{/link-to}}
        {{/each}}
        {{#link-to "certifications.exams"}}
            Examinations
        {{/link-to}}
        {{#link-to "certifications.exam-prep"}}
            Exam Preperation
        {{/link-to}}
    </nav>

    {{liquid-outlet}}

</section>