<section class="secondary-hero">
    {{fa-icon "home"}} {{fa-icon "chevron-right"}} Committees
</section>

<section class="nav">
    <nav class="local">
        {{#each committees as |committee|}}
            {{#link-to "committees.committee" committee}}
                {{committee.title}}
            {{/link-to}}
        {{/each}}
    </nav>

        {{liquid-outlet}}
</section>