{{app-hero}}
<section>
    For over 35 years IHMM has been protecting the environment and the public's health, safety, 
    and security through the administration of credentials recognizing professionals who have 
    demonstrated a high level of knowledge, expertise, and excellence in the management of 
    hazardous materials.
</section>