<section class="secondary-hero">
    {{fa-icon "home"}} {{fa-icon "chevron-right"}} In The News
</section>

<section class="nav">
    <nav class="local">
        {{#each model as |story|}}
            {{#link-to "news.story" story.slug}}
                {{story.title}}
            {{/link-to}}
        {{/each}}
    </nav>

    <section>
        {{outlet}}
    </section>
</section>