<section class="secondary-hero">
    {{fa-icon "home"}} {{fa-icon "chevron-right"}} Our Work
</section>
<section class="nav {{theme}}">
    <nav class="local">
        {{#link-to "work.index"}}
            Who We Are
        {{/link-to}}
        {{#link-to "work.credentials"}}
            Our Credentials
        {{/link-to}}
        {{#link-to "work.accreditation"}}
            Accreditation
        {{/link-to}}
        {{#link-to "work.committees"}}
            Committees
        {{/link-to}}
        {{#link-to "work.ethics"}}
            Code of Ethics
        {{/link-to}}
        {{#link-to "work.designations"}}
            Honorary Designations
        {{/link-to}}
        {{#link-to "work.leaders"}}
            Corporate Leaders
        {{/link-to}}
        {{#link-to "work.what-are-hazmat"}}
            What are Hazardous Materials
        {{/link-to}}
        {{#link-to "work.recognition"}}
            Credential Recognition
        {{/link-to}}
        {{#link-to "work.media"}}
            Media Kit
        {{/link-to}}
        {{#link-to "work.veterans"}}
            Veterans
        {{/link-to}}
        {{#link-to "work.legal"}}
            IHMM Legal Notices
        {{/link-to}}
    </nav>
    
    {{liquid-outlet}}
        
</section>
